<main>

  <br/> 

     {{#each reservationList}} 
  <a href="/reservation/get/{{this._id}}" class="card_link">
    <div class="container">
     
      <div class="row">
        
      <div class="card col-lg-3 col-md-4 col-sm-12">
        <div class="card-header"><strong>Booking ID:  #{{this._id}}</strong></div>
    <div class="card-body">
    <table style="color:darkslategray">
     
      <tr>
        <td>Doctor:</td>
        <td>{{this.doctor.name}}</td>
      </tr>
      <tr>
        <td>Date:</td>
        <td>{{this.date_formatted}}</td>
      </tr>
      <tr>
        <td>Hospital:</td>
        <td><span class="status-{{this.status}}">{{this.hospital.name}}</span></td>
      </tr>
      <tr>
        <td>Status:</td>
        <td style="color:rgb(30, 196, 30)"> {{this.status}}</td>
      </tr>
    </table>
    </div>
    </div>
    </div>
  </div>
  </a>
  {{/each}}
  {{#unless reservationList}}
    <div class="card">
      <p>No records found</p>
    </div>
  {{/unless}}
 
</main>