<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List of Doctors</title>
  <link rel="stylesheet" href="/public/stylesheets/formPage.css">
  <link rel="stylesheet" href="/public/stylesheets/home.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>

<body onload="populateHospitalSearch('{{ json hospitalList}}', '{{ json docSearchList}}')">
  {{#ifEquals user null}}
  <div class="header">
    <a href="/" class="logo"><img src="/public/images/logo" height="62" width="130"></a>
    <div class="header-right">
      <a href="/">Home</a>
      <a href="/contact">Help</a>
      <a href="/users/signup">Signup</a>
      <a href="/users/login">Log In</a>
    </div>
  </div>
  {{/ifEquals}}
  {{!-- <div> --}}
  <main>
  <div class="container-fluid" style="padding:16px">
  <div class="h1class headerClass .col-md-6 .col-sm-12 .col-xs-12 "><span>Welcome to City HealthCare</span></div>
  {{!-- <div class="specialityClass"> --}}
    <div class="btn-group">
      <button onclick="$('#layers').toggle();" type="button" class="btn btn-primary dropdown-toggle specialityClass .col-md-3 .col-sm-12 .col-xs-12"
        data-toggle="dropdown" style="font-size: medium; font-weight: 700; height:40px;">
        {{#ifEquals specialityValue null}}
        Select Speciality
        {{else}}
        {{specialityValue}}
        {{/ifEquals}}
      </button>
      <ul id="layers" class="dropdown-menu" role="menu">
        <li><a class="dropdown-item" href="/doctors/speciality/Gynaecologist">Gynaecologist</a></li>
        <li><a class="dropdown-item" href="/doctors/speciality/Sexologist">Sexologist</a></li>
        <li><a class="dropdown-item" href="/doctors/speciality/General Physician">General Physician</a></li>
        <li><a class="dropdown-item" href="/doctors/speciality/Neurologist">Neurologist</a></li>
        <li> <a class="dropdown-item" href="/doctors/speciality/Psychiatry">Psychiatry</a></li>
        <li><a class="dropdown-item" href="/doctors/speciality/ENT">Ear, Nose, Throat</a></li>
        <li><a class="dropdown-item" href="/doctors/speciality/Eye and Vision">Eye and Vision</a></li>
        <li><a class="dropdown-item" href="/doctors/speciality/Dermatologist">Dermatologist</a></li>
        <li><a class="dropdown-item" href="/doctors/speciality/Dentist">Dental</a></li>
        <li> <a class="dropdown-item" href="/doctors/speciality/Cardiologist">Cardiologist</a></li>
        <li><a class="dropdown-item" href="/doctors/speciality/Pediatrics">Pediatrics</a></li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" href="/doctors/speciality/all">other</a></li>
      </ul>
    </div>

      {{!-- <div class='searchClass'> --}}
  <form autocomplete="off" action="/search" id="searchContainer">
    <div class="autocomplete searchClass .col-md-3 .col-sm-12 .col-xs-12" style="color:#14bef0; width:300px;">
      <label for="hospitalSearch"></label>
      <input id="hospitalSearch" type="text" name="hospital" class="form-control"
        placeholder="Search By Hospital/Doctor" value="{{searchValue}}">
    </div>
    <input id="hospitalID" type="text" name="id">
    <button type=" submit" class="btn btn-success"
      style="color:white;  font-size: medium; font-weight: 700; height:40px;" id="search" value="Search">Search</button>
  </form>
  {{!-- </div> --}}

  {{!-- </div> --}}


      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="h3Class modal-title" id="exampleModalLabel">Information</div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">

                  <label for="data" type="text" class="col-form-label"></label>
                  <br />
                  <br />
                  <input type="text" id="education" readonly />
                  <input type="text" id="experience" readonly />

                  <input type="text" id="gender" readonly />
                  <input type="text" id="specialization" readonly />
                  <br />
                  <br />
                  <textarea type="text" name="Text1" id="description"></textarea>

                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
<br/>
<br/>
    {{#if docsList}}
    {{#each docsList}}
    <form id="docsForm" action="/reservation/new/{{this._id}}/{{../hospital}}" method="GET">
      <ul>
        <li class="doctorli">
          <div class="row">

          <div class="card doctorlist .col-md-9 .col-sm-12 .col-xs-12">
            <div class="listMain">
              <div class="row">
              <div class="doctor .col-md-4 .col-sm-12 .col-xs-12"><img src="{{this.imageURL}}" alt="No Image"></div>
              <div class="doctorDetails .col-md-5 .col-sm-12 .col-xs-12">
                <div class="h2class">{{this.name}}</div>
                <div class="h3class">{{this.experience}}</div>
                <div class="h3class">{{this.education}}</div>
                <div class="h3class">{{this.specialization}}</div>
                <div class="h3class">Medical Registration Verified: {{this.medical_registration_verified}}</div>
                <button type="button" class="btn btn-link btnColor" data-toggle="modal" data-target="#exampleModal"
                  data-description="Doctor Description: {{this.description}}" data-gender="Gender: {{this.gender}}"
                  data-education="Education: {{this.education}}" data-name="Name: {{this.name}}"
                  data-specialization="Specialization: {{this.specialization}}"
                  data-experience="Experience: {{this.experience}}"
                  data-phoneNo="Contact Number: {{this.phoneNumber}}">View Profile</button>
              </div>
              <div class="doctorContact .col-md-3 .col-sm-12 .col-xs-12">
                <button type="submit" id="btnSubmit" class="button submit" onclick="reservation_new">Book
                  Appointment</button>

                <button type="button" class="button submit Disabled"><i class="fa fa-phone"></i>
                  {{this.phoneNumber}}</button>
              </div>
            </div>
            </div>
          </div>
          </div>
        </li>
      </ul>
    </form>
    {{/each}}
    {{else}}
    </div>

    <div style="margin-left: 350px;">Data Not Available. Please try some other doctor or hospital</div>
    {{/if}}
        </div>
  </main>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
  <script src='/public/scripts/script_search.js'></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () {
      $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal

        var experience = button.data('experience') // Extract info from data-* attributes
        var description = button.data('description');
        var name = button.data('name');
        var gender = button.data('gender');
        var specialization = button.data('specialization');
        var education = button.data('education');
        var phoneNumber = button.data('phoneNo');

        var modal = $(this)
        modal.find('.modal-title').text("Doctor's Detail");
        modal.find('.modal-body label').html(name);
        modal.find('#education').val(education);
        modal.find('#description').val(description);
        modal.find('#gender').val(gender);
        modal.find('#specialization').val(specialization);
        modal.find('#experience').val(experience);

      })

      $(window).on('click', function () {
        $('#layers').css('display', 'none'); //$( '#layers' ).hide();
      });

    });

  </script>

</body>

</html>