<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Appointment is confirmed.</title>
    <link rel="stylesheet" href="/public/stylesheets/formPage.css">
    

</head>
<body>
  <h1 style="margin-left: 150px;" id="h1">{{title}}</h1>
<main>
  <div style="margin-left: 150px;">
    Hello {{user.userName}} !<br><br>Your Appointment number is #{{appointment._id}}<br><br>
  </div>
  <div class="card" id="viewForm">
    <div class="container" style="padding:16px">
  <table>
      <tr>
          <td>Name:</td>
          <td>{{user.userName}}</td>
      </tr>
      <tr>
          <td>Patient ID:</td>
          <td>#{{user._id}}</td>
      </tr>
      <tr>
          <td>Doctor's Name:</td>
          <td>{{doctor.name}}</td>
      </tr>
      <tr>
          <td>Hospital Name:</td>
          <td>{{hospital.name}}</td>
      </tr>
      <tr>
          <td>Date:</td>
          <td>{{appointment.date}}</td>
      </tr>
      <tr>
          <td>Status:</td>
          <td style="background-color:lightgreen;">{{appointment.status}}</td>
      </tr>
      <tr>
          <td><label id="notesID" for="textAreaNote">Notes:</label></td>
          
          <td><textarea style="display:none;" name="textAreaNote" id="textAreaNote" rows="4" cols="50"></textarea>
          <p id="addedNotes">{{appointment.notes}}</p><button class="button1" id="addNotesSubmit" hidden onclick="updateNotes('{{appointment._id}}')">Update Notes</button></td>
      </tr>
       <tr>
          <td></td>
            <td><br>
               <button class="button1" onclick="showElement('#editForm');hideElement('#viewForm'); return false;">Edit Appointment</button>
               <button onclick="cancelReserv('{{appointment._id}}'); return false;" class="button1">Cancel Appointment</button>
               <button onclick="addNotes(); return false;" class="button1" id="addNoteButton">Add Notes</button>
               
               </td>
        </tr>
  </table><br>
  </div>
  </div>


  <div class="card" id="editForm" style="display: none">
    <div class="container" style="padding:16px">
<form action="/reservation/edit/{{appointment._id}}" method="POST">


   <table style="margin-left: 100px;">
     
      <tr>
            <td><label for="docName">Doctor's Name:</label></td>
            <td><input style="background-color: darkgray;" value="{{doctor.name}}" type="text" name="docName" id="docName" readonly></td>
        </tr>
        <tr>
            <td><label for="specs">Specialization:</label></td>
            <td><input  style="background-color: darkgray;" value="{{doctor.specialization}}" type="text" name="specs" id="specs" readonly></td>
        </tr>
        <tr>
            <td><label for="fname">Patient's Name:</label></td>
            <td><input style="background-color: darkgray;" value="{{user.userName}}"   type="text" name="fname" id="fname" readonly></td>
        </tr>
        <tr>
          <td><label for="lname">Patient's Email:</label></td>
            <td><input style="background-color: darkgray;" value="{{user.email}}" type="text" name="lname" id="lname" readonly></td>
        </tr>
        
        <tr>
          <td><label for="hospName">Select Hospital:</label></td>
          <td><input style="background-color: darkgray;" value="{{hospital.name}}" type="text" name="hospName" id="hospName" readonly></td>
        </tr>

        <tr>
          <td><label for="resvDate">Date:</label></td>
            <td><input type="date" name="app_date" id="resvDate" value="" required></td>
        </tr>
        <tr>
          <td></td>
            <td><button type="submit" class="button2">Schedule</button></td>
        </tr>
    </table>
    <br>
    
    </form>
    </div>
    </div>
  <br>
  </main>
  <script src='/public/scripts/script_reservation_new.js'></script>
    <script>RefreshRestrict();</script>
    <script>DateRestrict();</script>
</body>
</html> 