<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Appointment is confirmed.</title>
  <link rel="stylesheet" href="/public/stylesheets/formPage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>

<body>
<div class="container">
    <div class="card bg-light mx-auto" id="viewForm" style="">
   
  
      <div class="card-header text-white bg-success mb-3"><strong>Status: {{appointment.status}}</strong></div>
               
  
        <div class="card-body cardClass">
          <div class="form-group">
            <p class="" style="color: #191970;" for="fname"><b>Patient Name:</b> {{user.userName}}
            </p>
            <p style="color: #191970;" for="id"><b>Patient ID:</b> #{{user._id}}</p>
            <p style="color: #191970;" for="doc"><b>Doctor's Name:</b>  {{doctor.name}}</p>
         <p style="color: #191970;" for="hosp"><b>Hospital Name:</b> {{hospital.name}}</p>
          <p style="color: #191970;" for="date"><b>Date:</b> {{appointment.date}}</p>
          <label id="notesID" for="textAreaNote"><b>Notes:</b></label>

              <textarea class="form-control" id="textAreaNote" rows="1" cols="3" placeholder="Add your notes here for your appointment" name="textAreaNote" id="textAreaNote" required></textarea>
              <p style="color: #191970;" id="addedNotes">{{appointment.notes}}</p>
              <div id="empty-notes" class="alert alert-danger alert-dismissible fade show" style="display: none;">
                <button type="button" class="close btn-sm" data-dismiss="alert">&times;</button>
                <strong>Alert!</strong> Notes cannot be empty.  
              </div>

          </div>
          <div class="btn-group" role="group" aria-label="manage">
              <button class="btn btn-secondary" onclick="hideElement('#viewForm');hideElement('#h2');showElement('#editForm'); return false;">Edit</button>
              <button onclick="cancelReserv('{{appointment._id}}'); return false;" class="btn btn-secondary">Cancel</button>
              
              <button class="btn btn-secondary" id="addNotesSubmit" onclick="updateNotes('{{appointment._id}}')">Update Notes</button>

          </div>
          
          


        </div>
  
    </div>

    </div>
  </div>
  <div class="container">
    <div class="card bg-light mx-auto" id="editForm" style="display: none">

  
    <form action="/reservation/edit/{{appointment._id}}" method="POST">
      <div style="background-color: rgb(36, 162, 208);"class="card-header text-white"><strong>You are editing your appointment #{{appointment._id}}</strong></div>
        <div class="card-body cardClass">
<div class="form-row">
    <div class="form-group col-md-6">
      <label for="docName">Doctor's Name</label>
      <input class="form-control" style="background-color: lightgray;" value="{{doctor.name}}" type="text" name="docName" id="docName" readonly>
    </div>
    <div class="form-group col-md-6">
      <label for="specs">Specialization</label>
      <input class="form-control"  style="background-color: lightgray;" value="{{doctor.specialization}}" type="text" name="specs" id="specs" readonly>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="fname">Patient's Name</label>
    <input class="form-control" style="background-color: lightgray;" value="{{user.userName}}"   type="text" name="fname" id="fname" readonly>
  </div>

 <div class="form-group col-md-6">
    <label for="email">Patient's Email</label>
    <input class="form-control" style="background-color: lightgray;" value="{{user.email}}" type="text" name="lname" id="lname" readonly>
  </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="hospital">Hospital</label>
     <input class="form-control" style="background-color: lightgray;" value="{{hospital.name}}" type="text" name="hospName" id="hospName" readonly>
    </div>
    <div class="form-group col-md-6">
    <label for="resvDate">Change Date</label>
    <input class="form-control" value="{{appointment.date}}" type="date" name="app_date" id="resvDate" value="" required>
  </div>
    </div>
<div id="success-alert" class="alert alert-success" style="display: none;">
    <strong>Success!</strong> Appointment Date has been changed.
  </div>
    <div><button  type="submit" class="btn btn-primary btn-block" onclick="showElement('#success-alert');">Reschedule</button></div>
    </div>
    </div>
    <br />

    </form>
  </div>
  <br/>
  <script src='/public/scripts/script_reservation_new.js'></script>
  <script>RefreshRestrict();</script>
  <script>DateRestrict();</script>
</body>

</html>